#project-steering-committee {
  margin: 0 100px;
  padding: 0;
  font-size: 16px;
}

#project-steering-committee p {
  font-size: 16px;
  margin-bottom: 0.5em;
  line-height: 1.75;
  color: #666666;
}

#project-steering-committee li {
  color: #666666;
}

#project-steering-committee h1 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #444444;
}

#project-steering-committee h2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #444444;
}

#project-steering-committee h3 {
  font-size: 20px;
  font-weight: 400;
  color: #444444;
}

#project-steering-committee h4 {
  font-size: 18px;
  font-weight: 200;
  color: #444444;
}
