#project-steering-committee {
  margin: 0 90px;
}

#project-steering-committee h1 {
  font-size: 32px;
  font-weight: 600;
}

#project-steering-committee h2 {
  font-size: 26px;
  font-weight: 400;
}

#project-steering-committee h3 {
  font-size: 18px;
  font-weight: 400;
}

#project-steering-committee h4 {
  font-size: 16px;
  font-weight: 200;
}
